body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: white; }

.stripes-container {
  height: 100vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .stripes-container .strip {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden; }
    .stripes-container .strip::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: white;
      opacity: 0.05;
      transform: skew(30deg) scaleY(1) translate(0, 0);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }
    .stripes-container .strip:hover::before {
      transform: skew(0deg) scale(3) translate(0, 0);
      opacity: 0.1; }

.strip:nth-child(1) {
  background: pink; }

.strip::nth-child() {
  background-color: pink; }

.strip:nth-child(1) {
  background-color: #244F75;
  animation-duration: 1s;
  animation-name: strip1; }

.strip:nth-child(2) {
  background-color: #60BFBF;
  animation-duration: 1s;
  animation-name: strip2; }

.strip:nth-child(3) {
  background-color: #8C4B7E;
  animation-duration: 1s;
  animation-name: strip3; }

.strip:nth-child(4) {
  background-color: #F8BB44;
  animation-duration: 1s;
  animation-name: strip4; }

.strip:nth-child(5) {
  background-color: #F24B4B;
  animation-duration: 1s;
  animation-name: strip5; }

@keyframes strip1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes strip2 {
  0% {
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes strip3 {
  0% {
    -webkit-transform: translate3d(0%, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes strip4 {
  0% {
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes strip5 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
